a {
    &.cta_button {
        text-decoration: none;
        box-sizing: border-box !important;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

.cta-primary {
    font-family: $fontPrimary;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    appearance: none;
    font-size: rem(20);
    line-height: rem(50);
    display: inline-block;
    min-width: 267px;
    text-align: center;
    padding: 0px 30px;
    color: #fff;
    background-color: $blueMain;
    border: 2px solid $blueMain;
    border-radius: 40px;
    transition: 0.3s all;
    @media (max-width: 300px) {
        min-width: 100%;
    }
    &:hover {
        color: $blueMain;
        background-color: #fff;
    }
    &--reverse {
        color: $blueMain;
        background-color: #fff;
        border: 2px solid #fff;
        &:hover {
            border-color: $blueMain;
        }
    }
}

.cta-secondary {
    font-family: $fontPrimary;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    appearance: none;
    font-size: rem(20);
    line-height: rem(50);
    display: inline-block;
    min-width: 267px;
    text-align: center;
    padding: 0px 30px;
    color: $blueDark;
    background-color: #fff;
    border: 2px solid $blueDark;
    border-radius: 40px;
    transition: 0.3s all;
    @media (max-width: 300px) {
        min-width: 100%;
    }
    &:hover {
        color: #fff;
        background-color: $blueDark;
    }
    &--reverse {
        color: #fff;
        background-color: $blueDark;
        border: 2px solid $blueDark;
        &:hover {
            background: transparent;
            color: $blueDark;
        }
    }
}

.cta-transparent {
    font-family: $fontPrimary;
    font-weight: bold;
    text-transform: uppercase;
    appearance: none;
    font-size: rem(20);
    line-height: rem(50);
    display: inline-block;
    min-width: 267px;
    text-align: center;
    padding: 0px 30px;
    color: $blueMain;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    transition: 0.3s all;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 300px) {
        min-width: 100%;
    }
    &:hover {
        color: #fff;
        background-color: transparent;
    }
}

.cta-linkedin {
	min-width: 200px;
	padding-top: 11px;
	min-height: 50px;
	line-height: 1;
	svg {
		max-width: 90px;
		max-height: 23px;
	}
	svg * {
		transition: all .3s linear;
	}
    .st0 {
		fill: #FFFFFF;
    }
    &:hover {
		.st0 {
			fill: $blueMain;
		}
    }
}

.cta-primary,
.cta-secondary,
.cta-transparent {
    &.small {
        font-size: rem(14);
        line-height: 1.5;
        padding: 2px 10px;
        min-width: 135px;
        text-transform: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.cta-white {
    font-family: $fontPrimary;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    appearance: none;
    font-size: rem(20);
    line-height: rem(50);
    display: inline-block;
    min-width: 267px;
    text-align: center;
    padding: 0px 30px;
    color: $blueMain;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    transition: 0.3s all;
    @media (max-width: 300px) {
        min-width: 100%;
    }
    &:hover {
        color: #fff;
        background-color: $blueMain;
    }
}