// NEW STYLES FORMS
form {
     ::-webkit-input-placeholder {
        color: $fontSecondaryColor!important;
        opacity: 0.3;
    }
     ::-moz-placeholder {
        color: $fontSecondaryColor!important;
        opacity: 0.3;
    }
     ::-ms-input-placeholder {
        color: $fontSecondaryColor!important;
        opacity: 0.3;
    }
     :-ms-input-placeholder {
        color: $fontSecondaryColor!important;
        opacity: 0.3;
    }
     :-moz-placeholder {
        color: $fontSecondaryColor!important;
        opacity: 0.3;
    }
}

// Inputs file fake 
input[type="file"] {
    width: 100%;
    height: 54px;
    line-height: 1.45;
    position: relative;
    z-index: 201;
    cursor: pointer;
    opacity: 0!important;
}

.inputfile-fake {
    position: relative;
    .input {
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid #e5e6e7;
        font-family: $fontSecondary;
        color: $fontSecondaryColor;
        font-size: rem(16);
        padding-left: 0px!important;
        height: 54px;
        &:after {
            position: absolute;
            content: '+';
            color: $blueDark;
            font-size: rem(32);
            right: 30px;
            top: 0px;
        }
    }
}

.file-name {
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 54px;
    width: 95%;
    line-height: 54px;
    color: $fontSecondaryColor;
}

// ---------
.form-title {
    margin: 0px auto;
}

.hs-form-field {
    margin-bottom: 20px;
    &>label {
        display: inline-block;
        font-weight: bold;
        font-size: rem(20);
        font-family: $fontPrimary;
        color: $fontSecondaryColor;
        padding-left: 15px;
        >span {
            display: inline;
        }
        .hs-form-required {
            color: $blueMain;
        }
    }
    legend {
        padding-left: 15px;
        opacity: 0.5;
    }
}

input.hs-input,
textarea,
select {
    appearance: none;
    font-size: rem(16);
    background-color: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 4px;
    padding: 15px 14px;
    margin-top: 4px;
    outline: none;
    font-family: $fontSecondary;
    color: $fontSecondaryColor;
    &:focus {}
    &.error {}
    &::-ms-reveal {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-reveal {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

// BUTTON TYPE SUBMIT 
.hs_submit {
    text-align: center;
    input[type="submit"] {
        @extend .cta-primary;
        cursor: pointer;
    }
}

// BUTTON TYPE RADIO AND CHACKBOX
input {
    &[type="checkbox"] {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 12px;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid $blueDark;
                top: 3px;
                left: -30px;
                border-radius: 3px;
                cursor: pointer;
                z-index: 2;
            }
            &:after {
                content: "";
                position: absolute;
                top: 3px;
                left: -30px;
                font-family: "FontAwesome";
                transition: color 0.3s, box-shadow 0.3s;
                color: $blueMain;
                width: 20px;
                height: 20px;
                z-index: 1;
            }
            &:hover:before {
                cursor: pointer;
            }
        }
        &:checked+span:after {
            background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Icons/arrow-checkbox.svg');
            background-position: center center;
            background-repeat: no-repeat;
            color: $blueMain;
            font-size: 15px;
            cursor: pointer;
        }
    }
    &[type="radio"] {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 14px;
            position: relative;
            &:before {
                content: '';
                border-radius: 50%;
                border: 1px solid #e5e6e7;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 20px;
                width: 20px;
                transition: 0.3s;
                z-index: 1;
            }
            &:after {
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: $blueMain;
                z-index: 2;
            }
            &:hover:before {
                cursor: pointer;
            }
        }
        &:checked+span {
            &:after {
                content: "";
                cursor: pointer;
            }
        }
    }
}

// SELECT 
.dropdown_select.input {
    font-size: 18px;
    user-select: none;
    select {
        display: none;
    }
    .dropdown-header {
        background: #fff;
        color: $fontSecondaryColor;
        height: 54px;
        border: 1px solid #e5e6e7;
        border-radius: 4px;
        padding: 0px 14px;
        margin-top: 4px;
        cursor: pointer;
        position: relative;
        margin-bottom: 8px;
        span {
            line-height: 54px;
            font-weight: 300;
            text-align: left;
        }
        &:after {
            // font-family: "FontAwesome";
            // content: "\f107";
            content: ''; // font-size: 22px;
            position: absolute;
            color: $fontSecondaryColor;
            right: 20px;
            top: 10px;
            width: 22px;
            height: 22px;
            width: 24px;
            height: 13px;
            background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Icons/arrow-select-2.svg');
            background-size: 100%;
            top: 21px;
        }
        &.dropdown-selected {
            color: $fontSecondaryColor;
        }
    }
    .dropdown-list {
        background-color: #FFF;
        list-style: none;
        padding-left: 0;
        margin: 0;
        border-radius: 4px;
        border: 1px solid #e5e6e7;
        height: 100%;
        width: 100%;
        li {
            height: 54px;
            line-height: 54px;
            cursor: pointer;
            color: $fontSecondaryColor;
            clear: left;
            font-weight: 300;
            padding-left: 14px;
            margin-left: 0px;
            display: block !important;
            margin-right: 0 !important;
            text-align: left;
        }
        li:hover {
            opacity: 0.7;
        }
    }
}

textarea {
    resize: vertical;
    min-height: 160px;
}

.widget-type-form,
.widget-type-blog_subscribe {
    ul {
        padding-left: 20px;
        li {
            padding-left: 0px;
            margin-bottom: 0px;
            display: block;
            margin-left: 30px;
            @media (max-width: 982px) {
                display: block;
                margin-left: 20px;
            }
            &:before {
                display: none;
            }
        }
    }
    form {
        margin: 20px auto;
    }
    fieldset {
        max-width: 100%!important;
        margin: auto!important;
        .hs-richtext {
            max-width: inherit;
        }
        .input {
            width: 100%;
            margin: 0;
            .hs-input {
                width: 100%!important;
            }
        }
        &.form-columns-2 {
            .hs-form-field {
                width: 50%!important;
                @media (max-width: 767px) {
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;
                }
            }
        }
        &.form-columns-3 {
            .hs-form-field {
                width: 33.33%!important;
                @media (max-width: 767px) {
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;
                }
            }
        }
        &[class^="form-columns-"]:not(.form-columns-1) {
            .hs-form-field {
                padding-left: 10px;
                padding-right: 10px;
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                @media (max-width: 400px),
                (max-device-width: 480px) and (min-device-width: 320px) {
                    width: 100%;
                    padding: 0px;
                }
                input {
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100%!important;
                    }
                }
            }
        }
    }
    .hs-error-msgs {
        list-style: none;
        padding-left: 0;
        margin: 10px 0;
        li {
            padding-left: 0;
            font-size: em(14);
            line-height: 1.5em;
            margin-bottom: 0;
            margin-left: 0px;
            padding-left: 14px;
            &:first-child {
                margin-left: 0px;
            }
            &:before {
                content: '';
                display: none !important;
            }
            a {
                color: inherit;
                font-weight: inherit;
            }
        }
    }
}

.widget-type-form span {
    width: 100%;
    display: inline-block;
    padding-right: 0px;
}


.widget-type-form .input span {
    width: 100%;
    display: inline-block;
    padding-right: 15px;
}
.widget-type-form {
    &.dark {
        form {
            .hs-form-field>label>span {
                color: $blueDark;
            }
        }
        .hs_submit input[type="submit"] {
            background-color: $blueDark;
            border-color: $blueDark;
            &:hover {
                background-color: #fff;
                color: $blueDark;
            }
        }
    }
    ul {
        padding-left: 0;
        li {
            margin-left: 0;
            padding-left: 20px;
            .show-more {
                color: $blueMain;
                background-color: #fff;
                padding-left: 12px;
                font-weight: 400;
                z-index: 9999;
                bottom: 0;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                }
            }
            &.trigger {
                max-height: 100%;
                position: relative;
                padding-bottom: 30px;
            }
            &.fixed-height {
                max-height: 80px;
                overflow: hidden;
                .show-more {
                    position: absolute;
                    z-index: 99;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
    ul {
        li {
            &.hs-form-booleancheckbox {
                .hs-form-required {
                    display: none;
                }
            }
        }
    }
}