// Old website fixes
.i13m-footer {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 1024px) {
    .i13m-footer,
    .i13m-last-section>div>span:last-child {
        max-height: 100%!important;
    }
}

footer {
	.block--group.span12 {
		float: none;
		width: auto;
	}
    padding: 65px 15px;
    background-color: $fontSecondaryColor;
	color: #fff;
	.logo-wrap, .socials-icons, .block--copy {
		padding: 0 15px;
	}
    .logo-wrap {
        max-width: 175px;
        margin-bottom: 55px;
    }
    .footer-ico {
        font-size: rem(16);
        line-height: rem(26);
        position: relative;
        text-align: left;
        padding-left: 45px;
        margin-bottom: 25px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            width: 30px;
        }
        &.home {
            &:before {
                top: -1px;
                height: 26px;
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/footer/home-ico.png);
            }
        }
        &.phone {
            &:before {
                top: -2px;
                height: 31px;
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/footer/phone-ico.png);
            }
        }
        &.mail {
            &:before {
                top: -1px;
                height: 25px;
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/footer/mail-ico.png);
            }
        }
        &.phone,
        &.mail {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .socials-icons {
        .socials {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
			padding: 60px 0 70px;
			margin: 0;
            li {
				padding: 0 5px;
				&:first-of-type {
					padding-left: 0;
				}
				&:last-of-type {
					padding-right: 0;
				}
			}
			
            i {
                font-size: 32px;
            }
        }
	}
	.block--copy {
		p {
			margin: 0;
		}
	}
}