    * {
        box-sizing: border-box;
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .body-container-wrapper {
        margin-top: 80px;
        min-height: calc(100vh - 450px);
        margin-top: 78px;
    }

    .container {
        max-width: 1200px; // padding: 0 15px;
        padding: 0 30px;
        width: 100%;
        margin: 0 auto;
        &--small {
            max-width: 900px;
        }
    }

    .slick-slider {
        margin-bottom: 0;
        .slick-track {
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .hide {
        display: none!important;
        min-height: 0px!important;
        height: 0px!important;
    }

    .widget-type-global_group {
        min-height: 0px!important;
    } // SLICK SLIDER
    .slick-slider {
        .slick-dots {
            bottom: 25px;
            li {
                margin: 0;
                width: 13px;
                height: 13px;
                margin: 0 14px;
                button {
                    width: 13px;
                    height: 13px;
                    background-color: #fff;
                    opacity: 0.5;
                    border-radius: 50%;
                    &:before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .blue-section,
    .dark-section {
        padding: 30px 0;
        color: #fff;
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        li {
            color: inherit;
        }
    }

    .blue-section {
        background-color: $blueMain;
    }

    .dark-section {
        background-color: $blueDark;
    }