.header-container-wrapper {
    position: relative;
    z-index: 999;
}
header {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    .block {
        &--group {
            &.span12 {
                float: none;
            }
            >div>div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;
                &:before,
                &:after {
                    content: none;
                }
            }
        }
        &--logo {
            &.span2 {
                width: auto;
                float: none;
                display: block;
                min-height: 0;
                margin: 0;
            }
            max-width: 160px;
            img {
                max-width: 100%;
            }
        }
        &--search {
            min-width: 60px;
            text-align: center;
            i {
                font-size: rem(27);
                color: $blueMain;
                &:hover {
                    cursor: pointer;
                }
            }
            #search-btn {
                padding-top: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
            .search-popup {
                display: none;
                position: fixed;
                z-index: 8;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($blueDark, .95);
                .popup-inner {
                    position: absolute;
                    padding: 10px 15px;
                    max-width: 100%;
                    width: 700px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    >span {
                        width: 100%;
                    }
                    .input {
                        display: flex;
                        align-items: flex-end;
                        width: 100%;
                    }
                    .hs-button {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    h4 {
                        color: #fff;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-right: 20px;
                        line-height: 1;
                        @media (max-width: 450px) {
                            font-size: rem(20);
                            margin-right: 15px;
                        }
                    }
                    svg {
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        margin-top: 0;
                        margin-bottom: -10px;
                        @media (max-width: 450px) {
                            width: 35px;
                            height: 35px;
                            margin-left: 15px;
                            margin-bottom: -8px;
                        }
                        .st0 {
                            stroke: #fff;
                            fill: #fff;
                        }
                    }
                    input {
                        background-color: transparent;
                        color: #fff;
                        border-radius: 0;
                        border: 0px;
                        outline: none;
                        border-bottom: 2px solid #fff;
                        font-size: rem(25);
                        padding-bottom: 0;
                    } // Placeholders
                     ::-webkit-input-placeholder {
                        color: rgba(#fff, .7);
                    }
                     ::-moz-placeholder {
                        color: rgba(#fff, .7);
                    }
                     :-ms-input-placeholder {
                        color: rgba(#fff, .7);
                    }
                     :-moz-placeholder {
                        color: rgba(#fff, .7);
                    }
                }
            }
        }
        &--menu {
            &.span11 {
                width: auto;
            }
            width: auto;
            .hs-menu-wrapper {
                >ul {
                    display: none;
                    @media (min-width: 768px) {
                        display: flex;
                        display: none; //do wywalenia przy desktopie
                        justify-content: flex-end;
                    }
                }
            }
        }
        &--right {
            >div>div {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .slicknav_menu {
        position: relative;
        padding: 0;
        background: transparent;
        .slicknav_btn {
            margin: 0;
            padding: 8px;
            background-color: transparent;
            .slicknav_icon {
                position: relative;
                width: 30px;
                height: 21px;
            }
            .slicknav_icon-bar {
                position: absolute;
                left: 0;
                background-color: $blueMain;
                box-shadow: 0 1px 0 rgba($blueMain, .25);
                width: 100%;
                height: 3px;
                border-radius: 5px;
                margin: 0;
                transition: .3s linear all;
                &:first-of-type {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 10px;
                }
                &:last-of-type {
                    top: 20px;
                }
            }
            &.slicknav_open {
                .slicknav_icon-bar {
                    &:first-of-type,
                    &:last-of-type {
                        top: 50%;
                        left: 50%;
                        transform-origin: 0 0;
                    }
                    &:first-of-type {
                        transform: rotate(45deg) translate(-50%, -50%);
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:last-of-type {
                        transform: rotate(-45deg) translate(-50%, -50%);
                    }
                }
            }
        }
        .slicknav_nav {
            ul {
                margin: 0;
            }
            .slicknav_row,
            a {
                &:hover {
                    background-color: transparent;
                    color: inherit;
                    border-radius: 0px;
                }
            }
            li {
                width: 380px;
                max-width: 100%;
                &.hs-menu-item {
                    &.hs-menu-depth-1 {
                        >a {
                            text-transform: uppercase;
                            font-family: $fontPrimary;
                            font-weight: 600;
                        }
                    }
                    &.hs-item-has-children {
                        ul {
                            background-color: $blueDark;
                        }
                    }
                    &.hs-menu-depth-2 {
                        >a {
                            padding: 15px 30px 15px 55px;
                            font-size: rem(16);
                        }
                    }
                }
                >a {
                    padding: 20px 30px 20px 55px;
                    position: relative;
                }
            }
            a {
                font-size: rem(20);
                line-height: rem(28);
                margin: 0;
            }
            .slicknav_arrow {
                position: absolute;
                margin: 0;
                left: 28px;
                top: 21px;
                i {
                    font-size: 35px;
                }
            }
            &.preventDefault {
                display: none !important;
            }
        }
        >ul {
            position: absolute;
            background-color: $blueMain;
            text-align: right;
            top: calc(100% + 20px);
            max-width: 90vw;
            height: calc(100vh - 100% - 40px);
            overflow: auto;
            right: -30px;
            li {
                border-bottom: 1px solid rgba($blueDark, .3);
            }
        }
    }
}