textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-family: $fontSecondary;
    color: $fontSecondaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.0;
    font-family: $fontPrimary;
    color: $blueMain;
    margin: 0px;
}

h1,
h2 {
    font-size: rem(32);
    margin: 10px 0px;
    font-weight: bold;
}

h4 {
    font-size: rem(20);
}

.widget-type-rich_text {
    text-align: center;
    hr {
        display: inline-block;
        border: 2px solid #ffcc00;
        width: 60px;
        border:none;
        height: 3px;
        background-color: #ffcc00;
        border-radius: 7px;
        margin-bottom: 0px;
        &.left {
            display: block;
            margin: 20px 0 25px;
        }
    }
    ul {
        text-align: left;
        list-style: none;
        padding-left: 0px;
        padding-left: 30px;
        li {
            display: block;
            margin-bottom: 30px;
            position: relative;
            &:before {
                display: block;
                position: absolute;
                left: -30px;
                top: 10px;
                content: '';
                width: 9px;
                height: 9px;
                background-color: $blueDark;
                border-radius: 50%;
            }
        }
    }
    p {
        small {
            font-size: rem(12);
            line-height: rem(26);
            text-align: center;
            display: block;
        }
    }
}

.accent-color {
    .widget-type-rich_text {}
}