// FOTNS

// OpenSans (Gogole Fotns) i Bariol (File Maneger)



@font-face {
    font-family: 'Bariol';
    src: url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Regular.eot');
    src: url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Regular.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bariol';
    src: url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Bold.eot');
    src: url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Bold.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/2422193/cr/FONTS/Bariol-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}





$dev_version : true;
$blueMain: #0098da;
$blueDark: #00557a;
$outline: #b0b5b8;

$fontPrimary: 'Bariol';
$fontSecondary: 'Open Sans', sans-serif;
$fontPrimaryColor: #0098da;
$fontSecondaryColor: #4e5a62;

$variables : (
			  "$first_color": #ffc400, 			// 1 hubl("$first_color")
			  "$second_color": #4a4949,			// 2 hubl("$second_color")
			  "$cta_background": #ffc400,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
			  "$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #ffc400,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #626262,		// 7 hubl("$main_font_color")
			  "$font": "Palanquin",				//   hubl("$font")
			  "$blueMain": #0098da
			  );

$browser-context: 16; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

