.about{
	// MAIN CONTENT
	.main-content{
		padding-top: 60px;
		blockquote{
			font-size: rem(32);
			line-height: rem(40);
			color: $blueMain;
			font-family: $fontPrimary;
			margin: 20px 0px 25px 0px;

		}
	}
	// BOARD MEMBERS
	.board-members{
		padding-top: 20px;
		.team-members{
			margin-top: 40px;
		}
	}
	// AWARDS
	.awards{
		background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/About/awards-bg.png');
		background-size: cover;
		background-position: center center;
		margin-top: 25px;
		padding: 20px 0px;
		.company-logo-wrapper > span{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			margin-top: 10px;
			& > div{
				padding: 25px 15px;
			}
		}
	}
	// VALUES
	.values{
		padding-top: 40px;
		.values-item-wrapper > span{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 30px;
			& > div{
				width: 100%;
				margin-bottom: 30px;
				h3{
					font-size: rem(32);
					font-weight: 400;
					text-align: center;
					margin-bottom: 30px;
				}
				p{
					text-align: center;
				}
			}
		}
	}
	// CUSTOM RICH TEXT
	.custom-rich-text{
		h2{
			margin-top: 0px;
		}
		h3{
			font-size: rem(32);
			line-height: rem(40);
			font-weight: 400;
			margin-top: 20px;
		}
		p{
			text-align: center;
		}
		&.white{
			h2{
				color: $blueMain;
			}
		}
	}
	// PRESS OFFICE SCETION

	// DOWNLOADS SECTION
	.downloads-section{
		.custom-rich-text{
			background-size: auto;
			background-position-x: right;
			background-position-y: 40%;
			background-repeat: no-repeat;
		}
		.hs-cta-wrapper{
			margin-top: 30px;
			margin-bottom: 50px;
		
		}
		p:last-child .hs-cta-wrapper{
			margin-bottom: 20px;
		}
	}
}