.apply-for-job{
	.widget-type-rich_text{
		margin: 70px 0px 20px 0px;
		h2{
			color: $blueDark;
		}
		hr{
			width: 60px;
		}
		.cta-secondary{
			margin-top: 20px;
		}
	}
	.widget-type-form{
		margin-bottom: 30px;
		.hs-button{
			margin-top: 30px;
		}
	}
}