.carsharing{
	// CUSTOM RICH TEXT
	.top-text{
		.custom-rich-text{
			.content p{
				text-align: center;
			}
		}

	}
	// MAIN RICH TEXT
	.main-text{
		.widget-type-rich_text{
			margin-top: 20px;
			margin-bottom: 10px;
			padding: 0 10px;
			img{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	}
	// CUSTOMERS
	.customers{
		margin-top: 40px;
		.slick-slider .slick-dots {
		    
		    bottom: -60px;
		    li button{
		    	background-color: $blueMain;
		    }
		}
		.brands-slider-wrapper{
			margin-top: 10px;
			margin-bottom: 97px;
			.brand-slide{
				img{
					opacity: 1;
				}
			}
		}


	}
	// BLOG
	
    .blog-posts-wrapper{
    	.slick-list{
		 	margin-top: 20px;
		 	margin-bottom: 40px;
		 	border-radius: 7px;
		 	box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
		 	background-color: #f9fafb;
		}
		.slick-slider .slick-dots {
		    top: 200px;
		    bottom: auto;
		}
        h2{
            margin-top: 30px;
        }
        hr{
        	margin-bottom: 5px;
        }
        .latest-post-from-blog{
        	.item{
        		@media(max-width: 767px){
        			margin-top: 0px;
        			margin-bottom: 10px;
	        		box-shadow: none;
	        		background-color: #f9fafb;
	        	}
        	}
            section:first-child{
                margin-top: 30px;
                @media(max-width: 767px){
                	margin-bottom: 0px;
                }
            }
        }
    }
	// CONTACT
    .contact-wrapper{
		.single-member{
			margin-bottom: 0px;
			margin-top: 30px;
		}
        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 45px;
        }

    }
}