.clio {
    .intro-text {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .architecture-page-modules,
    .architecture-module {
        border-radius: 6px;
    }
    .architecture-page-modules {
        border: 1px solid #fff;
        border-radius: 6px;
        padding: 12px 12px 0px;
        margin-top: 25px;
        .widget-type-rich_text {
            p {
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: bold;
            }
        }
    }
    .architecture-module {
        padding: 9px 12px 0px;
        margin-bottom: 12px;
        border: 1px dashed #fff;
    }
    .architecture-section {
        @extend .blue-section;
        padding: 30px 30px 50px;
        .architecture {
            p {
                color: $blueMain;
                margin: 0;
            }
        }
    }
    .section-latests-blog,
    .customer-brands--white {
        padding: 30px 0;
    }
    .section-latests-blog,
    .our-team {
        .widget-type-rich_text {
            margin-top: 25px;
        }
    }
    .our-team {
        .widget-type-rich_text {
            margin-bottom: 25px;
        }
    }
    .widget-type-rich_text.form-copy {
        margin-top: 0;
        text-align: left;
        p {
            margin-top: 0;
            color: rgba($fontSecondaryColor, .6);
        }
    }
}

.customer-brands--white {
    .brands-slider-single {
        padding: 30px 0;
        .slick-track {
            >div {
                padding: 20px;
                @media (max-width: 450px) {
                    padding: 10px;
                }
                img {
                    margin: 0 auto;
                }
            }
        }
        .slick-slider {
            .slick-dots {
                bottom: -45px;
                li {
                    button {
                        background-color: $blueMain;
                    }
                }
            }
        }
    }
}