.contact{
	// CONTACT
	.contact-wrapper{
		padding-top: 65px;
		padding-bottom: 10px;
		.contact-box-wrapper{
			margin-top: 25px;
			.contact-box{
				margin-bottom: 30px;
			}
		}
	}
	// FORM 
    .form-wrapper{

        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 45px;
        }

    }
}