.finance{
	// WHAT WE CAN DO
	.what-we-can-do{
		.widget-type-rich_text{
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
	// INFO BOXS
	.info-box{
		  box-shadow: 0px 17px 19px 0px rgba(0, 0, 0, 0.06);
		  margin-bottom: 48px;
		a{
			padding: 12.5px 50px;

			h4{
				order: 2;
				font-size: 16px;
			}
			img{
				order: 1;
				position: static;
				margin-right: 50px;
				transform: translate(0,0);
				@media (max-width: 400px){
					margin-right: 0px;
					margin-bottom: 20px;
				}
			}
		}
	}
	// SOFTWARE DEVELOPMENT
	.software-development{
		.custom-rich-text{
			h3{
				font-weight: normal;
				text-align: left;
				font-size: rem(32);
			}
			hr.left{
				margin-top: 5px;
				margin-bottom: 7px;
			}
			p{
				margin-top: 13px;
				margin-bottom: 60px;
				small{
					margin-top: 20px;
					margin-bottom: -40px;
				}
				
			}
		}
	}
	 // BLOG
	 .slick-list{
	 	margin-top: 20px;
	 	margin-bottom: 40px;
	 	border-radius: 7px;
	 	 box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
	 	 background-color: #f9fafb;
	 }
	.slick-slider .slick-dots {
	    top: 200px;
	    bottom: auto;
	}
    .blog-posts-wrapper{
        h2{
            margin-top: 30px;
        }
        hr{
        	margin-bottom: 5px;
        }
        .latest-post-from-blog{
        	.item{
        		@media(max-width: 767px){
        			margin-top: 0px;
        			margin-bottom: 10px;
	        		box-shadow: none;
	        		background-color: #f9fafb;
	        	}
        	}
            section:first-child{
                margin-top: 30px;
                @media(max-width: 767px){
                	margin-bottom: 0px;
                }
            }
        }
    }
	// CONTACT
    .contact-wrapper{

        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 45px;
        }

    }
}
