.gdpr{
	.content-wrapper{
		text-align: center;
		margin-top: 35px;
		.widget-type-linked_image{
			margin: 35px 0px 40px 0px;
		}

		.widget-type-cta{
			margin:0px 0px 40px 0px;
		}
	}
	.contact-wrapper{

        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 45px;
        }

    }
}