.home {

    // WHO ARE WE 
    .who-are-we{
        margin: 20px 0px 30px 0px;
    }
    // COUNTER SECTION
    .counter-box-wrapper {
        background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/Home/counter-section-bg.png');
        background-size: cover;
        background-position: center;
        padding: 0 30px;
        .counter-box {
            margin-bottom: 35px;
        }
        &>div>span>div {
            &:last-child {
                .counter-box {
                    margin-bottom: 0px;
                }
            }
        }
    } 
    // CTA 
    .cta-wrapper {
        margin-top: 70px;
        .widget-type-cta {
            text-align: center;
        }
    } 
    // INDUSTRIES SECTION
    .industries-wrapper {

        margin-top: 55px;
        background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/Home/industires-bg.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        padding: 20px 0px;
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            background-color: $blueMain;
            opacity: 0.75
        }
        .container {
            position: relative;
            z-index: 3;
            h2,
            p {
                color: #fff;
            }
            p:last-child{
                margin-bottom: 30px;
            }
        }
    } 
    // SERVICES SECTION
    .services-wrapper {
        margin-top: 0px;
        background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/Home/services-bg.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        padding: 20px 0px;
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            background-color: $blueMain;
            opacity: 0.9
        }
        .container {
            position: relative;
            z-index: 3;
            h2{
                margin-bottom: 17px;
                color: #fff;
            }
            hr{
                margin-bottom: 27px;
            }
        }
    }
    // SOLUTIONS SECTION
    .solutions-wrapper {
        margin-top: 0px;
        background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/Home/solutions-bg-v2.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        padding: 20px 0px;
        .container {
            position: relative;
            z-index: 3;
            h2{
                margin-bottom: 17px;

            }
            hr{
                margin-bottom: 27px;
            }
        }
    }
    // TOOLS SECTION
    .tools-wrapper {
        margin-top: 0px;
        background-color: $blueMain;
        position: relative;
        z-index: 1;
        padding: 20px 0px;
        .container {
            position: relative;
            z-index: 3;
            h2{
                margin-bottom: 17px;
                color: #fff;
            }
            hr{
                margin-bottom: 27px;
            }
            .widget-type-cta{
                text-align: center;
                margin-bottom: 40px;
            }
        }
        //BRANDS SLIDER
        .brand-slider{
            margin-bottom: 80px;
            .slick-slider {
                .slick-dots {
                    bottom: -59px;
                }
            }
        }
    }
    // BLOG
    .blog-posts-wrapper{
        h2{
            margin-top: 30px;
        }
        .latest-post-from-blog{
            section:first-child{
                margin-top: 30px;
            }
        }
    }
    // JOBS

    // CONTACT
    .contact-wrapper{

        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 45px;
        }

    }

    
}