.iaas{
	// CUSTOM RICH TEXT
	.custom-rich-text{
		padding: 20px 30px 50px 30px;
		.content p{
			text-align: center;
		}
	}
	// 1 RICH TEXT
	.widget-type-rich_text.left{
		margin: 15px 0px 10px 0px;
		h2{
			text-align: left;
		}
		hr{
			margin:20px auto 25px 0px;
			text-align: left;
			display: block;
		}
		ul{
			padding-left: 15px;
			margin-bottom: 40px;
			li{

				margin-bottom: 0px;
				&:before{
					background-color: $blueMain;
					width: 5px;
					height: 5px;
					left: -15px;
				}
			}
		}
	}
	// 2 RICH TEXT 
	.bg-color-section{
		background-color: $blueDark;
		color: #fff;
		padding: 20px 0px 33px 0px;
		margin-bottom: 35px;
	}

	// CONTACT
	 .contact-wrapper{
		margin-bottom: 40px;
        .widget-type-cta {
            margin-top: 42px;
            margin-bottom: 6px;
            text-align: center;
        }
        .form-description {
            opacity: .6;
            text-align: left;
            margin-bottom: 30px;
        }

    }
}