.job-offers-main {
    h1,
    h2,
    h3,
    h4 {
        color: $blueDark;
    }
    .suggested-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 5px;
        }
    }
}

.search-bar {
    &--wrapper {
        mark {
            background-color: $blueMain;
        }
        .inputs-inner {
            position: relative;
        }
        .input-hybrid {
            position: relative;
            button {
                position: absolute;
                right: 28px;
                top: 14px;
                border-radius: 0px;
                border: 0px;
                padding: 0;
                margin: 0;
                appearance: none;
                &:hover {
                    cursor: pointer;
                }
                >span {
                    padding: 0;
                    margin: 0;
                    font-size: 35px;
                    color: #b0b5b8;
                    line-height: 1;
                }
            }
            // input {
            //     margin-bottom: 14px;
            // }
            .visually-hidden {
                display: none;
            }
            ul[role="listbox"] {
                background-color: #FFF;
                list-style: none;
                padding-left: 0;
                margin: 12px 0 0;
                border-radius: 4px;
                border: 1px solid #e5e6e7;
                height: 100%;
                width: 100%;
                position: relative;
                transition: .3s linear all;
                opacity: 1;
                z-index: 3;
                li {
                    height: 54px;
                    line-height: 54px;
                    cursor: pointer;
                    color: #4e5a62;
                    clear: left;
                    font-weight: 300;
                    padding-left: 14px;
                    margin-left: 0px;
                    display: block !important;
                    margin-right: 0 !important;
                    text-align: left;
                }
                &[hidden] {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    display: block;
                    transition-timing-function: ease;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .dropdown-header {
            span {
                color: #4e5a62;
                opacity: 0.3;
            }
            &.selected {
                span {
                    opacity: 1;
                }
            }
        }
    }
    &__title {
        font-size: rem(20);
        color: $blueDark;
        margin: 0;
        padding-left: 10px;
    }
    &--single {
        margin-bottom: 25px;
        &:last-of-type {
            margin-bottom: 0;
        }
        input {
            appearance: none;
            font-size: rem(16);
            background-color: #fff;
            border: 1px solid #e5e6e7;
            border-radius: 4px;
            padding: 15px 14px;
            margin-top: 4px;
            outline: none;
            font-family: "Open Sans", sans-serif;
            color: $fontSecondaryColor;
        }
    }
}

.job-offer {
    &--single {
        min-height: 90px;
        border: 2px solid $blueDark;
        border-radius: 6px;
        width: 100%;
        position: relative;
        margin-bottom: 60px;
        padding: 33px 10px;
        box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        h4 {
            max-width: 300px;
            margin: 0 auto;
        }
        .cta-secondary {
            position: absolute;
            min-width: 130px;
            left: 50%;
            bottom: -40px;
            transform: translateX(-50%);
            text-transform: none;
            &:hover {
                background-color: #fff;
            }
        }
        .icon-holder {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            min-width: 90px;
            height: 80px;
            &.warsaw {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Contact%20Box/icons%20dark/waw-dark.svg);
            }
            &.cracow {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Contact%20Box/icons%20dark/krakow-dark.svg);                
            }
            &.lublin {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Contact%20Box/icons%20dark/lublin-dark.svg);                            
            }
            &.wroclaw {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Contact%20Box/icons%20dark/wroclaw-dark.svg);
            }
            &.plock {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Contact%20Box/icons%20dark/plock-dark.svg);               
            }
        }
    }
}
.job-offers--result {
    >a {
        width: 100%;
    }
}