.recommend {
    h1, h2, h3 {
        color: $blueDark;
    }
    .spacing-vertical {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .widget-type-form {
        ul {
            li {
                &.hs-form-booleancheckbox {
                    .hs-form-required {
                        display: none;
                    }
                }
            }
        }
    }
}