.services-main {
    .intro-text {
        padding: 30px 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
        }
        ul {
            list-style-type: none;
            li {
                margin-bottom: 15px;
                &:before {
                    content: '\f00c';
                    font-family: FontAwesome;
                    background-color: transparent;
                    border-radius: 0;
                    color: $blueMain;
                    height: 100%;
                    top: 0;
                    left: -30px;
                }
            }
        }
    }
    .widget-type-linked_image {
        text-align: center;
        margin-bottom: 30px;
    }
    .customer-brands {
        @extend .blue-section;
    }
    .team-members {
        padding-top: 30px;
    }

    .our-team {
        padding: 30px 0;
    }
}
.brands-slider {
    padding-top: 15px;
    padding-bottom: 30px;
    .hs_cos_wrapper_type_linked_image {
        text-align: center;
        height: 100%;
        padding: 15px;
        min-height: 90px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100px;
            margin: 0 auto;
        }
    }
    .slick-slide {
        >div {
            display: flex;
            align-items: center;
        }
    }
    .slick-dots {
        bottom: -25px;
        margin: 0;
    }
}