.thank-you{
	//MAIN CONTNT
	.main-content{
		.custom-rich-text{
			.content{
				h1,h2{
					margin-top: 35px;
				}
				p{
					text-align: center;
					margin-bottom: 25px;
					&:last-child{
						margin-bottom: 20px;
					}
				}
				.hs-cta-wrapper{
					margin-top: 10px;
				}
			}
		}
	}
	// SLDIER
	.hero-slide{
		.content{
			padding-top: 20px;
			padding-bottom: 90px;
		}

	}
	.slick-dots{
			bottom: 40px;
		}
}