.it-landing-1 {

	.i13m-navi {
		display: none;
	}

	.main-section {
		position: relative;
		width: 100%;
		float: left;
		margin: 50px 0;

		.hs_cos_wrapper_type_rich_text {
			font-size: em(19);

			p {
				margin-bottom: 0;
			}
		}
	}
}