.blog-main {
    // BLOG HEADING and HERO BANNER
    .blog-heading{
        margin-top: 64px;
        margin-bottom: 20px;
    }
    //
    .blog-banner{
        min-height: 365px;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            position: absolute;
            content: '';
            background-color: $blueMain;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0.3;
        }
        .content{
            position: relative;
            z-index: 3;
            padding: 25px 15px;
            h2{
                margin-top:  0px;
                color: #fff;
            }
            hr{

            }
            span{
                margin-top: 10px;
                color: #fff;
                display: block;
                font-size: rem(32);
                font-family: $fontPrimary;
                font-weight: bold;
            }
        }
    }
    // SEARCH
    .search-blog {
    	h4{
    		font-size: rem(21);
    		padding-left: 15px;
    		margin-bottom: 10px;
    	}
        max-width: 1000px;
        width: 100%;
        margin: 20px auto;
        input {
            border-radius: 5px;
            border: 2px solid #d4d6d7;
            height: 50px;
            font-size: rem(18);
            padding-left: 15px;
            outline: none;
            appearance: none;
            color: $fontSecondaryColor!important;
        }
        ::-webkit-input-placeholder {
            color: $fontSecondaryColor!important;
            opacity: 0.3;
        }
         ::-moz-placeholder {
            color: $fontSecondaryColor!important;
            opacity: 0.3;
        }
         ::-ms-input-placeholder {
            color: $fontSecondaryColor!important;
            opacity: 0.3;
        }
         :-ms-input-placeholder {
            color: $fontSecondaryColor!important;
            opacity: 0.3;
        }
         :-moz-placeholder {
            color: $fontSecondaryColor!important;
            opacity: 0.3;
        }
    }
    // LOAD MORE BTN
    .load-more-wrapper{
        text-align: center;
        .load-more{
              @extend .cta-primary;
              cursor: pointer;
              margin-bottom: 100px;
              position: relative;
              transition: 0.3s all;
              &.loading:after{
                content: '';
                display: block;
                position:absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: transparent;
                top: 13px;
                left: 25px;
                border-right: 2px solid rgba(255,255,255,0.2);
                border-left: 2px solid rgba(255,255,255,1);
                border-top: 2px solid rgba(255,255,255,0.2);
                border-bottom: 2px solid rgba(255,255,255,1);
                    animation: loader .7s ease infinite;
              }
              &:hover{
                    background-color: $blueMain;
                    color: #fff;
                    opacity: 0.8;
              }

        }
    }
    //NO RESULTS
    .no-post{
        text-align: center;
        margin-top: 60px;
        font-size: rem(32);
    }
    //HOT POST
    .hot-post{
        .item {
            margin-top:30px;
            margin-bottom: 0px;
            border: 2px solid $blueMain;
            overflow: visible;
            @media(max-width: 767px){
                background-color: $blueMain;    
            }

            // DUBLE POST INFO 
            .post-info{
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 43px;
                    height: 43px;
                    border-radius: 50%;
                    position: absolute;
                    right: 0px;
                    top: -40px;
                    border: 2px solid #fff;
                    background-color: $blueMain;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Icons/hot-post-icon.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 55%;
                    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
                    @media(max-width: 767px){
                        width: 33px;
                        height: 33px;
                        left: 50%;
                        top: 0px;
                        transform: translateX(-50%) translateY(-15px);
                    }
                    @media(max-width: 400px){
                        transform: translateX(-50%) translateY(-25px);
                    }

                }
                span{
                }
                h4{
                    margin: 0px;
                }
                @media(max-width: 767px){
                    &.mobile{
                        span,h4{
                            color:#fff;
                        }
                    }
                }
            }
            // THUMB
            .thumb{
                border-radius:9px;
                 @media(max-width: 767px){
                    border-radius: 0px;
                 }
                @media(max-width: 400px){
                    min-width: 100%;
                }
            }
            // CONTENT
            .content{
                background-color: #fff;
                border-top-right-radius: 9px;
                border-bottom-right-radius: 9px;
                @media(max-width: 767px){
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 9px;
                }
            }
        }
    }
    // -----------
    // LISTING
    // -----------
    .blog-listing {
        position: relative;
        z-index: 0;
        &.searching:after{
            position:  absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(255,255,255, 0.8);
            z-index: 1;
            content: '';
            width: 100%;
            height: 100%;
        }
    }
    // ITEM
    .item {
        display: flex;
        box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 1000px;
        width: 100%;
        margin: 50px auto;
        min-height: 255px;
        overflow: hidden;
        @media(max-width: 767px){
            flex-direction: column;
        }
        // THUMB
        .thumb {
            min-width: 300px;
            min-height: 100%;
            max-height: 100%;
            background-size: cover;
            background-position: center center;
            border-radius: 10px;
            transition: all 0.3s;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            &:hover{
                opacity: .8
            }
            @media(max-width: 767px){
                height: 225px;
                width: 100%;
                border-radius: 0px;
            }
        }
        // DUBLE POST INFO 
        .post-info{
            span{
                font-size: rem(14);
                color: $fontSecondaryColor;
                opacity: 0.5;
                font-weight: 400;
            }
            h4{
                font-size: rem(16);
                margin-top: 10px;
                margin-bottom: 15px;
            }
            &.mobile{
                display: none;
            }
            @media(max-width: 767px){
                display: none;
                &.mobile{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px;
                    span,h4{
                        font-size: rem(17);
                        line-height: rem(17);
                        margin: 0px;
                    }
                }
            }
        }
        // CONTENT
        .content {
            padding: 20px 30px;
            box-sizing: border-box;
            @media(max-width: 767px){
                padding-bottom: 10px;
            }
            h2 {
                font-size: rem(21);
                transition: all 0.3s;
                &:hover{
                    color: hubl_rgba("$blueMain",.8);
                }
            }
            p {}
            //TAGS
            .tags-list {
                display: flex;
                flex-wrap:wrap;
                align-items: center;
                a {
                    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
                    display: block;
                    background-color: $blueMain;
                    color: #fff;
                    min-width: 110px;
                    border-radius: 12.5px;
                    height: 25px;
                    line-height: 25px;
                    font-size: rem(13);
                    text-align: center;
                    font-family: $fontPrimary;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-right: 7px;
                    margin-bottom: 7px;
                    transition: all 0.3s;
                    &:hover{
                        background-color: hubl_rgba("$blueMain",.8);
                    }
                }
            }
        }
    } 
    // -----------
    // SINGLE POST 
    // -----------
    .blog-article-page{
        // FAST NAV
        .fast-nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 32px 0px;
            @media(max-width: 486px){
                flex-wrap: wrap;
                justify-content: center;
            }
            a{
                min-width: 200px;
                padding: 0 10px;
                @media(max-width: 486px){
                    margin: 10px;                }
            }
        }
        // SOCIAL SHARING
        .social-share{
            ul{
                list-style: none;
                padding-left: 0px;
                text-align: center;
                li{
                    display: inline-block;
                    margin: 0px 15px 15px 15px;
                    a{
                        width: 50px;
                        height: 50px;
                        display: block;
                        background-color: $blueMain;
                        border-radius: 50%;
                        text-align: center;
                        border: 2px solid $blueMain;
                        line-height: 50px;
                        transition: 0.3s all;
                        i{
                            color: #fff;
                            font-size: rem(24);
                        }
                        &:hover{
                            background-color: #fff;
                            i{
                                color: $blueMain;
                            }
                        }

                    }
                }
            }
        }
        // BODY CONTENT
        .blog-content{
            text-align: left;
            // BLOG TYPOGRAPHY
            h1,h2,h3,h4,h5,h6{
                margin: 20px 0px;
                display: block;
            }
            h2{
                font-size: rem(24);
                line-height: 1.8rem;
            }
            h3{
                font-size: rem(22);
                line-height: 1.8rem;
            }
            h4{
                font-size: rem(20);
                line-height: 1.8rem;
            }
            h5{
                font-size: rem(18);
                line-height: 1.8rem;
            }
            h6{
                font-size: rem(16);
                line-height: 1.8rem;
            }
            p{
                font-size: rem(16);
                line-height: 1.8rem;
                margin: 20px 0px;
                display: block;
                font-weight: 400;
            }
            span{
                font-size: rem(16);
                line-height: 1.8rem;
                margin: 20px 0px;
                display: block;
                font-weight: 400;
            }
            small{
                font-size: rem(16);
                line-height: 1.8rem;
                margin: 20px 0px;
                display: block;
                font-weight: 700;
            }
            a{
                  color: $blueMain;
                  border-bottom: 1px solid $blueMain;
                  &:hover{
                    opacity: 0.8;
                  }
            }
            blockquote{
                font-size: rem(32);
                line-height: rem(40);
                margin: 20px 0px;
                font-family: $fontPrimary;
                color: $blueMain;
            }
            ul{
                margin: 20px 0px;
                display: block;
                padding-left: 20px;
                li{
                    margin: 20px 0px;
                    line-height: 1.8rem;
                    &:before{
                        left: -20px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                    }
                }
            }
            ol{
                display: block;
                margin: 20px 0px;
                padding-left: 20px;
                li{
                    line-height: 1.8rem;
                    margin: 20px 0px;
                }
            }
        }
        // TAGS
        .tags-wrapper{
            display: flex;
            flex-wrap:wrap;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 25px;
            a {
                box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
                display: block;
                background-color: $blueMain;
                color: #fff;
                min-width: 135px;
                border-radius: 25px;
                height: 30px;
                line-height: 34px;
                font-size: rem(13);
                text-align: center;
                font-family: $fontPrimary;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 10px;
                margin-bottom: 10px;
                transition: all 0.3s;
                &:hover{
                    background-color: hubl_rgba("$blueMain",.8);
                }
            }
        }
        //AUTHOR
        .author-wrapper{
            h4{
                font-size: rem(32);
                font-weight: normal;
                margin-bottom: 15px;
            }
            .single-member__img{
                min-width: 90px;
                width: 90px;
                margin-right: 20px;
                padding-right: 0px;
                border-radius: 50%;
                background-size: cover;
                background-position: center center;

            }
            .cta-wrapper a{
                min-width: 200px;
                background-image: url('//cdn2.hubspot.net/hubfs/2422193/cr/Icons/linkedin-svg-white.svg');
                height: 54px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50%;
                &:hover{
                        background-image: url('//cdn2.hubspot.net/hubfs/2422193/cr/Icons/linkedin-svg-blue.svg');
                }
            }
        }
        //RELATED POSTS
        .related-posts-wrapper{
            text-align: center;
            .item .content{
                text-align: left;
            }
            a.see-more{
                margin-top: -10px;
                margin-bottom: 55px;
                min-width: 265px;
            }
        }
    }
}

// ANMATION 

@keyframes loader {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
