.architecture {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 12px;  
    &__single {
        font-weight: bold;
        text-align: center;
        padding: 12px;
        color: $blueMain;
    }
}