.banner-event-clock {
    position: relative;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    
    .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $blueMain;
        opacity: 0.70;
    }
    .clock-wrap {
        position: relative;
        z-index: 2;
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 15px 40px 15px;
        .content {
            color: #fff;
            h1,
            h2 {
                color: #fff;
            }
            hr {
                width: 60px;
            }
        }
        h3 {
            color: #fff;
            text-align: center;
            font-size: rem(32);
            margin: 40px 0px 20px 0px;
        }
        .clock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span {
                width: 50%;
                color: #fff;
                font-size: rem(32);
                font-family: $fontPrimary;
                font-weight: normal;
                @media(max-width: 400px) {
                    width: 100%;
                    text-align: center;
                }

                strong {
                    font-weight: bold;
                    text-align: center;
                    min-width: 45px;
                    display: inline-block;
                }
            }
        }
        .after-clock {
            color: #fff;
            font-size: rem(28);
            margin: 40px 0px 20px 0px;
            font-family: $fontPrimary;
            font-weight: bold;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            display: inline-block;
        }
    }
}