.brand-slide{
	min-width: 200px;
	width: 100%;
	height: 90px;

	a{
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			opacity: 0.5;
			transition: opacity 0.3s;
			max-width: 190px;
		}
		&:hover{
			img{
				opacity: 1;
			}
		}
	}
}