.contact-box {
    max-width: 435px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 26px 30px;
    border: 1px solid $blueMain;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    @media(max-width: 450px) {
        flex-direction: column;
    }
    .content {
        h4 {
            font-size: rem(20);
            line-height: rem(24);
        }
        p {
            font-size: rem(20);
            line-height: rem(24);
            margin: 0px;
            span {
                color: $blueMain;
                border-bottom: 1px solid $blueMain;
            }
        }
         @media(max-width: 450px){
         	text-align: center;
         }
    }
    .icon-wrapper {
        min-width: 72px;
        width: 72px;
        @media(max-width: 450px) {
            order: -1;
            margin-bottom: 30px;
            min-width: 100px;
            width: 100px;
        }
    }
}