.counter-box{
	width: 100%;
	max-width: 432px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0px 17px 19px 0px rgba(0, 0, 0, 0.06);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	margin: 0 auto;
	@media (max-width: 700px){
		flex-wrap: wrap;
	}
	span{
		font-size: rem(73);
		line-height: 1;
		font-weight: normal;
		font-family: $fontPrimary;
		color: $fontPrimaryColor;

	}
	.img-wrapper{
		max-width: 65px;
		img{
			text-align: center;
		}
	}
	.count-to-wrapper{
	 	margin: 15px 0px;
		min-width: 200px;
		text-align: center;
	}
	h5{
		color: $fontSecondaryColor;
		text-align: center;
		font-size: rem(20);
		line-height: rem(24);
		opacity: 0.5;
	}

}



