.custom-social-icon-wrapper>span {
    display: flex;
    justify-content: center;
}

.custom-social-icon {
    margin: -15px 25px 15px 25px;
    a {
        width: 53px;
        height: 53px;

        display: block;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        transition: 0.3s all;
        i {
            font-size: rem(22);
            line-height: rem(49);
        }
    }
    &.light-blue a {
        background-color: $blueMain;
        border: 2px solid $blueMain;
        &:hover {
            background-color: #fff;
            color: $blueMain;
        }
    }
    &.dark-blue a {
        background-color: $blueDark;
        border: 2px solid $blueDark;
        &:hover {
            background-color: #fff;
            color: $blueDark;
        }
    }
}