.custom-rich-text {
    position: relative;
    padding: 35px 65px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    z-index: 0;
    @media(max-width: 400px) {
        padding: 35px 25px;
    }
    .mask,
    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    .gradient {
        background: linear-gradient( to bottom, rgba($blueMain, 0) 0%, rgba($blueMain, 0.1) 65%, rgba($blueMain, 0.8) 75%, rgba($blueMain, .95) 85%, rgba($blueMain, 1) 100%);
    }
    .content {
        position: relative;
        z-index: 3;
        p {
            text-align: left;
        }
        ul {
            margin-top: 20px;
            margin-left: 0px;
            li {
                &:before {
                    margin-right: 25px;
                }
            }
        }
        .hs-cta-wrapper {
            margin-top: 45px;
            text-align: center;
            display: block;
        }
        blockquote.quote-marks {
            margin: 30px 0 85px;
            max-width: 60%;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }
            &:before {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/software/quote-big.png);
                left: -110px;
                top: -30px;
                height: 210px;
                width: 210px;
            }
            &:after {
                background-image: url(https://cdn2.hubspot.net/hubfs/2422193/cr/Websites/software/quote-small.png);
                bottom: -30px;
                right: -20px;
                height: 65px;
                width: 65px;
            }
            p {
                line-height: 26px;
            }
        }
    }
    &.white {
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $blueDark;
        }
    }
    &.blue {
        color: #fff;
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #fff;
        }
        ul {
            li:before {
                background-color: #fff;
            }
        }
    }
    &.icons {
        padding: 35px;
        .icon--wrapper {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: flex-end;
        }
        .icon__title {
            font-weight: bold;
        }
        .icon__src {
            max-width: 65px;
            margin: 0 auto;
            img {
                max-height: 50px;
            }
        }
        .icon--single {
            text-align: center;
            margin: 5px;
            width: 33%;
        }
    }
}