.hero-slide {
    min-height: 445px;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // IE 11
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		height: 445px;
	}
	// EDGE
	@supports (-ms-ime-align:auto){ 
	   height: 445px;
	}
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: $blueMain;
    }
    .content {
        padding: 70px 40px;
        position: relative;
        z-index: 3;
        text-align: center;
        h1,h2,p{
			color: #fff;
        }
        hr {
            display: inline-block;
        border: 2px solid #ffcc00;
        width: 60px;
        border:none;
        height: 3px;
        background-color: #ffcc00;
        border-radius: 7px;
        margin-bottom: 0px;
        }
        .cta_button{
        	margin-top: 20px;
        }
    }
}