.icon-text-box {
    padding: 25px 50px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0px 17px 19px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    .icon-wrapper {
        max-width: 55px;
    }
    p {
        margin: 0;
        color: $blueMain !important;
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin-left: 30px;
        font-family: $fontPrimary;
        @media (max-width: 450px){
            margin-left: 15px;
        }
    }
}