.info-box {
    width: 100%;
    background-color: #fff;
    height: 93px;
    max-width: 433px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 400px) {
        height: auto;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: relative;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 400px) {
            flex-direction: column;
            padding: 20px;
        }
        h4 {
            width: 100%;
            display: block;
            text-align: center;
            font-size: rem(20);
             @media (max-width: 600px){
             	order: 2;
             }
        }
        img {
            position: absolute;
            display: block;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            max-width: 72px;
            @media (max-width: 400px) {
                position: static;
                transform: translateY(0%);
                order: 1;
                margin-bottom: 15px;

            }
        }
    }
}


