.it-small-hero {
	position: relative;
	float: left;
	width: 100%;
	min-height: 400px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00567c+0,0098da+100 */
	background: rgb(0,86,124); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,86,124,1) 0%, rgba(0,152,218,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,86,124,1) 0%,rgba(0,152,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,86,124,1) 0%,rgba(0,152,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00567c', endColorstr='#0098da',GradientType=0 ); /* IE6-9 */

	&__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		h1, img {
			max-width: 50%;
			float: left;
			margin-top: 30px;
		}

		h1 {
			color: #fff;
			font-size: em(66);
			font-family: "bariol-regular";
			text-transform: uppercase;
			margin-bottom: 10px;

			@media (max-width: 767px) {
				max-width: 100%;
			}
		}

		img {
			margin-right: 30px;

			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	&__content {
		color: #fff;

		h2 {
			color: inherit;
			font-size: em(54);
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}