.latest-post-module{
	background-color: #ffcc00;
	background-image: url('https://cdn2.hubspot.net/hubfs/2422193/cr/Modules/Latest%20Post/latest-post-bg-v2.png');
	background-repeat: no-repeat;
	background-position: center right;
	height: 290px;
	display: flex;
	align-items: center;
	justify-content: center;
	h4,h5 {
		color:#fff;
		font-size: rem(18);
		line-height: rem(20);
		a{
			color:#fff;
			transition: 0.3s opacity;
			&:hover{
				opacity: 0.9;
			}
		}
	}
}