.latest-post-from-blog{
	.item {
            display: flex;
            box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            max-width: 1000px;
            width: 100%;
            margin: 50px auto;
            min-height: 255px;
            overflow: hidden;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media(max-width: 767px){
                flex-direction: column;
            }
            // THUMB
            .thumb {
                min-width: 300px;
                min-height: 100%;
                max-height: 100%;
                background-size: cover;
                background-position: center center;
                border-radius: 10px;
                transition: all 0.3s;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    opacity: .8
                }
                @media(max-width: 767px){
                    height: 225px;
                    width: 100%;
                    border-radius: 0px;
                }
            }
            // DUBLE POST INFO 
            .post-info{
                span{
                    font-size: rem(14);
                    color: $fontSecondaryColor;
                    opacity: 0.5;
                    font-weight: 400;
                }
                h4{
                    font-size: rem(16);
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
                &.mobile{
                    display: none;
                }
                @media(max-width: 767px){
                    display: none;
                    &.mobile{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px;
                        span,h4{
                            font-size: rem(17);
                            line-height: rem(17);
                            margin: 0px;
                        }
                    }
                }
            }
            // CONTENT
            .content {
                padding: 20px 30px;
                box-sizing: border-box;
                @media(max-width: 767px){
                    padding-bottom: 10px;
                }
                h2 {
                    font-size: rem(21);
                    transition: all 0.3s;
                    &:hover{
                        color: hubl_rgba("$blueMain",.8);
                    }
                }
                p {}
                //TAGS
                .tags-list {
                    display: flex;
                    flex-wrap:wrap;
                    align-items: center;
                    a {
                        box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.1);
                        display: block;
                        background-color: $blueMain;
                        color: #fff;
                        min-width: 110px;
                        border-radius: 12.5px;
                        height: 25px;
                        line-height: 25px;
                        font-size: rem(13);
                        text-align: center;
                        font-family: $fontPrimary;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-right: 7px;
                        margin-bottom: 7px;
                        transition: all 0.3s;
                        &:hover{
                            background-color: hubl_rgba("$blueMain",.8);
                        }
                    }
                }
            }
        } 
}