.rounded-bar {
    &__svg {
        height: 300px;
        width: 300px;
        svg {
            position: relative;
            z-index: 1;
        }
    }
    &__inner {
        width: 320px;
        height: 320px;
        padding: 10px;
        margin: 0 auto;
        position: relative;
    }
    &--content {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        text-align: center;
        z-index: 2;
    }
    &--single {
        margin: 15px 0;
    }
    &__percentage {
        font-size: rem(80);
        line-height: 1;
        font-weight: 600;
        font-family: $fontPrimary;
    }
    &__wrapper {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }
}

.ms-browser {
    .rounded-bar__svg {
        svg {
            path:last-of-type {
                stroke-width: 6 !important;
            }
        }
    }
}