.single-job-banner{
	position: relative;
	z-index: 0;
	background-size: cover;
	background-position: center center;
	
	.mask{
		position: absolute;
		z-index: 1;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
	.content{
		position: relative;
		z-index: 3;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 15px;
		h1,h2{
			color: #00557a;
		}
		hr{
			margin: 20px 0px 10px 0px;
			width: 60px;
		}
		.city-icon-wrapper{
			max-width: 180px;
			margin: 0 auto;
		}
		span{
			font-weight: 600;
			display: inline-block;
			margin: 20px 0px 30px 0px;
			color: #00557a;
		}
		.logo-icon-wrapper{
			max-width: 240px;
			margin: 0 auto;
			img{
				margin-bottom: 25px;
			}
		}
		.description{
			color: #00557a;
			p{
				margin: 0px 0px 20px 0px;
			}
		}
	}
}