.single-member {
    height: auto;
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 6px;
    .upper-wrapper {
        display: flex;
        @media (max-width: 450px){
            flex-direction: column;
            align-items: center;
        }
    }
    &__img {
        min-width: 110px;
        width: 110px;
        padding-right: 20px;
        height: 90px;
        border-radius: 45px;
        overflow: hidden;
        @media (max-width: 450px){
            margin-bottom: 20px;
        }
    }
    &__toggle-desc {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 18px;
        border: 2px solid $blueMain;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            cursor: pointer;
        }
        .bar {
            width: 12px;
            height: 2px;
            border-radius: 2px;
            background-color: $blueMain;
            display: block;
            position: absolute;
            top: 50%;
            transition: .2s linear;
            &:first-of-type {
                right: calc(50% - 2px);
                transform: rotate(45deg);
            }
            &:nth-of-type(2) {
                left: calc(50% - 2px);
                transform: rotate(-45deg);
            }
        }

    }
    &__description {
        width: 100%;
        padding: 0 90px 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .3s linear;
        border-bottom: 1px solid transparent;
        @media (max-width: 450px){
            padding-right: 45px;
        }
        p {
            margin: 0;
        }
        &--toggle {
            display: none;
        }
    }
    &__name {
        font-weight: bold;
        color: $blueMain;
    }
    &.open {
        height: auto;
        max-height: 100%;
        .single-member__description {
            border-color: $outline;
        }
        .bar {
            top: calc(50% - 1px);
            &:first-of-type {
                transform: rotate(-45deg);
            }
            &:nth-of-type(2) {
                transform: rotate(45deg);
            }
        }
    }
    .cta-wrapper {
        padding: 30px 0 20px;
        text-align: center;
        .cta-linkedin {
            @media (max-width: 450px){
                max-width: 100%;
                min-width: 230px;
            }

        }
    }
}