.social-contact-banner {
    background-size: cover;
    background-position: center center;
    padding: 35px 15px;
    position: relative;
    z-index: 1;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #fff;
        z-index: 2;
    }
    .content {
        position: relative;
        z-index: 3;
        h1,h2,h3,h4,h5{
        	color: $blueDark;
        }
        hr{
        	width: 60px;
        }
        .social-wrapper {
        	margin-top: 25px;
            a {
                width: 53px;
                height: 53px;
                display: inline-block;
                background-color: $blueDark;
                border-radius: 50%;
                border: 2px solid $blueDark;
                transition: 0.3s all;
                text-align: center;
                margin: 0px 25px 20px 25px;
                i {
                    color: #fff;
                    font-size: rem(22);
                    line-height: rem(49);
                }
                &:hover{
                	background-color: transparent;
                	i{
                		color: $blueDark;
                	}
                }
            }
        }
    }
}